[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material-extensions = "*"
mkdocs-material = "*"
mkdocs-with-pdf = "*"
mkdocs = "*"

[dev-packages]

[requires]
python_version = "3.9"
